---
title: Archive
---

{% include header.html %}


<div id="white">
    <div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-offset-1">
				<h3>Blog Archive</h3>
				{% for post in site.posts %}
				<div class="row"><span class="post_date col-xs-3">{{ post.date }}</span> <b><span class="col-xs-9"><a href="{{ post.url }}">{{ post.title }}</a></span></b></div>
				{% endfor %}
			</div>

		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->


{% include footer.html %}