---
title: About
---
{% include header.html %}

<div id="white">
    <div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<h3>About</h3>
				<h4>Hacker-scientist-type product manager.</h4>
				
				<p>Experienced in quantitative/qualitative analytics for product management, as well as A/B testing and experimental design for UX/UI. Strong affinity for communicating visually and in a clear, precise, and actionable manner. Fluent in Python, SQL, Stata, Tableau.</p>

				<p>Winner of the 2014 Optimizely Optie Award in the category for “Best Advanced Feature Use”, finalist for “Most Interesting Integration,” together with my co-worker Rachel Johnson.</p>

				<p>I have a BA in Economics from Virginia Tech, an MS in Information Systems from Cal State Sacramento, and I did 3.5 years of a PhD program in Information Systems (not completed) at the University of Utah.</p>

				<p>I grew up in Asker, Norway, and am a big fan of Hokies football. I’m also an amateur bike racer.</p>

			</div>

		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->



{% include footer.html %}