<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47862393-1', 'auto');
      ga('send', 'pageview');

      if (document.referrer == "http://chris.ward.is/" or document.referrer == "http://pcward.tumblr.com") {
        $('.overlay').show();
        console.log("Trigger redirect overlay.")
      }
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Marketing Intelligence Analyst at CLEARLINK. Living the dream in Salt Lake City, Utah">
    <meta name="author" content="Chris Ward">
    <meta name="google-site-verification" content="j8m-kWrpgk00_v1Gl4UMZCnKxSUumYd9Cu6yUTPURro" />
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

    <title>Chris Ward</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/assets/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ site.url }}/assets/js/hover.zoom.js"></script>
    <script src="{{ site.url }}/assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}/index.html">Chris Ward</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.url }}/index.html">Home</a></li>
            <li><a href="http://www.linkedin.com/in/pcward">Resume</a></li>
            <li><a href="{{ site.url }}/contact.html">About</a></li>
            <li><a href="{{ site.url }}/blog.html">Archive</a></li>
            <li><a href="https://twitter.com/pcward">Twitter</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="overlay">Hey! Just a heads up I've moved to pcward.github.io!</div>
