<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product Analyst at Instructure. Living the dream in Salt Lake City, Utah">
    <meta name="author" content="Chris Ward">
    <meta name="google-site-verification" content="j8m-kWrpgk00_v1Gl4UMZCnKxSUumYd9Cu6yUTPURro" />
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

    <title>Chris Ward</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/assets/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ site.url }}/assets/js/hover.zoom.js"></script>
    <script src="{{ site.url }}/assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWSQCQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NWSQCQ');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}/index.html">Chris Ward</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.url }}/index.html">Home</a></li>
            <li><a href="http://www.linkedin.com/in/pcward">Resume</a></li>
            <li><a href="{{ site.url }}/contact.html">About</a></li>
            <li><a href="{{ site.url }}/blog.html">Archive</a></li>
            <li><a href="https://twitter.com/pcward">Twitter</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="overlay">Hey! Just a heads up I've moved to pcward.github.io!</div>
